{% extends 'portfolio/layout.html' %}

{% block body %}
<div class="container" id="about">
    <div class="text">
        <h1 class="display-5">Ziyad Aljadhai</h1>
        <p class="lead">Welcome to my portfolio website! My name is Ziyad and I am a software engineering student based in Riyadh, Saudi Arabia. As a passionate learner in the field of AI and software development, I am excited to share my journey with you.
        <p>Currently pursuing my BS in Software Engineering at King Fahd University of Petroleum and Minerals, I am constantly looking for opportunities to learn and apply new skills. My strong desire to learn has allowed me to acquire critical thinking skills and a fast learning ability that I bring to every project.</p>
        <p>One of my recent projects that you're viewing right now! is the development of a web portfolio, which displays up-to-date information about me. I incorporated JavaScript for front-end development and Django for database integration, resulting in a user-friendly website that showcases my work.</p>
        <p>In addition to my academic pursuits, I completed CS50W Harvard course, which taught me the development of web applications using Django as a backend for challenging projects.</p>
        <p>Thank you for taking the time to visit my portfolio website. I hope that my passion for software engineering and dedication to learning shines through in my work. Please feel free to contact me through my email or GitHub profile if you would like to collaborate or learn more about my projects.</p>
    </div>
</div>
{% endblock %}
